/* Core CSS */

@media (max-width: 768px) {
  header {
    overflow-x: auto !important;
  }

  .nav-bar {
    overflow-x: auto !important;
  }

  .nav-bar ul {
    display: flex;
    flex-direction: row;
    overflow-x: auto !important;
    white-space: nowrap !important;
    gap: 40px;
    padding: 20px 10px;
    justify-content: flex-start;
    width: max-content;
  }

  .nav-bar ul li {
    display: inline-block;
  }

  .nav-bar ul li a {
    font-size: 70px !important;
    color: #00ffff !important;
    font-weight: bold !important;
    white-space: nowrap !important;
  }
}
